In [1]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer

In [13]:
df = pd.read_pickle('Data/clean_seattle_ngram_df')

In [3]:
len(df)

2908

## Testing word2vec

In [4]:
import gensim
from gensim.models import Word2Vec
import nltk
from nltk import word_tokenize
from nltk.util import ngrams

In [6]:
google_vec_file = '../../downloads/GoogleNews-vectors-negative300.bin.gz'
model = gensim.models.KeyedVectors.load_word2vec_format(google_vec_file, binary=True)

In [7]:
def document_vector(word2vec_model, doc):
    # remove out-of-vocabulary words
    doc = [word for word in doc if word in word2vec_model.vocab]
    return np.mean(word2vec_model[doc], axis=0)

In [14]:
new_df = pd.DataFrame(df.listed_items.str.split().apply(lambda x:document_vector(model,x)).tolist())

In [15]:
new_df.head()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,-0.043954,0.006841,-0.012748,0.086496,-0.072769,0.051799,0.012462,-0.038766,0.001871,0.026753,...,-0.033144,0.073153,-0.048096,0.029056,-0.026505,-0.065226,-0.019361,-0.019926,-0.029024,0.080978
1,-0.024538,0.038110,-0.007562,0.078291,-0.070621,0.028412,0.016901,-0.041611,0.033585,-0.003457,...,-0.059037,0.065489,-0.045640,0.006345,-0.056374,-0.025098,-0.009946,-0.011670,-0.024268,0.011055
2,-0.021182,0.014005,-0.016987,0.073280,-0.083369,0.045548,0.058467,-0.071952,0.028607,0.017894,...,-0.052045,0.058682,-0.053583,0.016762,-0.035119,-0.007481,0.033360,-0.041760,-0.034840,-0.008889
3,-0.042905,0.027499,-0.018928,0.046546,-0.055220,0.025817,0.024054,-0.059249,0.034471,0.059649,...,0.005800,0.075993,-0.072442,0.022553,-0.017957,-0.022994,-0.000438,0.020644,-0.013739,0.009377
4,-0.038040,0.010736,0.013825,0.056030,-0.059880,0.059433,0.047275,-0.045370,0.042770,-0.010478,...,-0.007771,0.090637,-0.089893,0.021157,-0.085240,-0.039400,-0.004144,0.003218,-0.019267,-0.007268

In [17]:
new_df.to_pickle('Data/clean_seattle_word2vec')